<% provide(:title, "About") %>
<!doctype html>
<html>
  </head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
<h1>About</h1>
<p>
Something about the app
</p>
</body>
</html>
